
@{
}
<link rel="stylesheet" href="~/css/ServiceStyle.css">

<!DOCTYPE html>
<html>
<body class="body">
    <div class="bg-div">
        <form >
    <br />
    <br />
   <p class="color"><button asp-action="NewMember" class="btn-add">New Member</button>
                &nbsp; or &nbsp;
    <button asp-action="ImportViaExcel" class="btn-add">Import Via Excel</button>
        </p>
   <br />
   <br />
        <button asp-action="ViewMember" class="btn-add">View Member</button>

</form>
    </div>

</body>
</html>