
@{
}
<link rel="stylesheet" href="~/css/Service_Style.css">

<!DOCTYPE html>
<html>
<body class="body">
<form >
   <button asp-action="NewMember" class="btn-add">New Member</button>
   or
    <button asp-action="ImportViaExcel" class="btn-add">Import Via Excel</button>

   <br />
   <br />
        <button asp-action="ViewMember" class="btn-add">View Member</button>

</form>
</body>
</html>