@{
    ViewData["Title"] = "Home Page";
}


<link rel="stylesheet" href="~/css/HomeStyle.css">

<!DOCTYPE html>
<html>
<body class="body">
    <br />
    <h2>Welcome to Cricket club</h2>

</body>
</html>
