
@{
    Layout = null;
}


<link rel="stylesheet" href="~/css/IndexStyle.css">

<!DOCTYPE html>
<html>
<body class="body">

   
   
    <div>
        <br />
    <p class="heading">Cricket Club</p>
        <div class="btn-holder">
            <form>
                <button asp-action="Login" class="btn-style1">Login</button>
                
                <button asp-action="SignUp" class="btn-style2">SignUp</button>
            </form>
        </div>
    </div>
    
</body>
</html>