
@{
    Layout = null;
}


<link rel="stylesheet" href="~/css/IndexStyle.css">

<!DOCTYPE html>
<html>
<body class="body">
    <div class="align-content-end">
    <form>
        <button asp-action="Login" class="btn-start " >Login</button>
            <button asp-action="SignUp" class="btn-start">SignUp</button>
    </form>
    </div>
</body>
</html>